body{
    background:#050816;
    color:white;
    font-family:sans-serif;
    padding:20px;
}

.login-box{
    max-width:400px;
    margin:auto;
    margin-top:100px;
    background:#0d1326;
    padding:30px;
    border-radius:20px;
    box-shadow:0 0 20px rgba(0,255,255,0.2);
}

input{
    width:100%;
    background:#10172b;
    border:none;
    color:white;
    padding:15px;
    border-radius:10px;
    margin-bottom:15px;
}

button{
    width:100%;
    border:none;
    background:linear-gradient(90deg,#00d2ff,#3a47d5);
    color:white;
    padding:15px;
    border-radius:10px;
    font-size:18px;
}

.card{
    background:#0d1326;
    padding:20px;
    border-radius:18px;
    margin-bottom:20px;
}

.single-number{
    background:#10172b;
    padding:15px;
    border-radius:12px;
    margin-bottom:10px;
    font-size:20px;
    font-weight:bold;
    cursor:pointer;
}

.single-number:hover{
    background:#17203b;
}

.btn{
    background:#00bcd4;
    color:white;
    text-decoration:none;
    padding:10px 15px;
    border-radius:10px;
    margin-right:10px;
    display:inline-block;
}

.red{
    background:#ff1744;
}

.copy-btn{
    background:#00bcd4;
    border:none;
    color:white;
    padding:10px 15px;
    border-radius:10px;
    width:auto;
    margin-right:10px;
}

.sms-box{
    background:#10172b;
    padding:20px;
    border-radius:12px;
    margin-top:10px;
}

.topbar{
    display:flex;
    justify-content:space-between;
    align-items:center;
    margin-bottom:20px;
}

@media(max-width:768px){

    body{
        padding:10px;
    }

    .topbar{
        flex-direction:column;
        gap:15px;
    }

    .single-number{
        font-size:17px;
    }
}
